<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Code_Ninjas_Scheduler.userSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Code_Ninjas_Scheduler.userSettings>
            <setting name="SenderEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderName" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipientEmail" serializeAs="String">
                <value />
            </setting>
        </Code_Ninjas_Scheduler.userSettings>
    </userSettings>
</configuration>